%h3 People
%table
  %tr
    %td Name
    %td # Checkins
    %td Current zone
    %td Last checkin
  - @users.each do |user|
    %tr
      %td= link_to user.name, user_path(user)
      %td= user.checkins.count
      %td
        - zone = user.current_zone
        = zone ? zone.name : 'None'
      %td= user.checkins.count > 0 ? time_ago_in_words(user.checkins.last.created_at) + ' ago ' : 'Never'
