%h3 Users
%table
  %tr
    %td Name
    %td # Checkins
    %td Current room
    %td Last checkin
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.checkins.count
      %td
        - room = user.current_room
        = room ? room.name : 'None'
      %td= user.checkins.count > 0 ? time_ago_in_words(user.checkins.last.created_at) + ' ago ' : 'Never'
