.floorplan-container
  .floorplan
    - @rooms.each do |room|
      .room{ data: { room_id: room.id }, style: room_styles(room) }
        = room.name
    - @users.each do |user|
      .user{ style: user_styles(user) }
        = user_photo(user)
        .user-name
          = short_user_name(user)
        .checkin-time
          = time_ago_in_words(user.checkins.last.created_at)
          ago
