= render 'shared/breadcrumbs',
         breadcrumbs: { 'Areas' => areas_path, @area.name => nil }
= link_to pluralize(@area.zones.count, 'Zone'), area_zones_path(@area)
= render 'shared/zone_list', area: @area
