%h3 Rooms
%table
  %tr
    %td Name
    %td # Checkins
    %td Current occupants
    %td Last checkin time
  - @rooms.each do |room|
    %tr
      %td= room.name
      %td= room.checkins.count
      %td
        - if room.occupants.length == 0
          None
        - else
          %ul
            - room.occupants.each do |user|
              %li= user.name
      %td= room.checkins.count > 0 ? time_ago_in_words(room.checkins.last.created_at) + ' ago ' : 'Never'
