= render 'shared/breadcrumbs',
         breadcrumbs: { 'Areas' => areas_path,
                         @area.name => area_path(@area),
                         'Zones' => nil  }

= render 'shared/zone_list', area: @area
