@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,700);

body {
  background: #f9f9f9;
}

table {
  width: 100%;
}

body.logged-out {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: none;
  background: url(asset_path('waldo_bg.jpg')) no-repeat center center fixed;
}

.photo {
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
}

.main-content {
  padding: .5em;
}

.welcome {
  margin: 5em auto 0;
  width: 20em;

  .welcome-image {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    margin-bottom: 2em;
  }

  .welcome-login a {
    width: 100%;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
