body {
  background: #fff;
}

body.logged-out {
  background: none;
  background: url(waldo_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-content {
  padding: .5em;
}

.welcome {
  width: 20em;
  margin: 5em auto 0;

  .welcome-image {
    margin-bottom: 2em;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #476e9e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #476e9e;
  box-shadow:inset 0px 1px 0px 0px #476e9e;

  -moz-box-shadow: 1px 1px 5px 1px #000;
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;

  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0076d1), color-stop(1, #0f40a3) );
  background:-moz-linear-gradient( center top, #0076d1 5%, #0f40a3 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0076d1', endColorstr='#0f40a3');
  background-color:#0076d1;
  -webkit-border-top-left-radius:7px;
  -moz-border-radius-topleft:7px;
  border-top-left-radius:7px;
  -webkit-border-top-right-radius:7px;
  -moz-border-radius-topright:7px;
  border-top-right-radius:7px;
  -webkit-border-bottom-right-radius:7px;
  -moz-border-radius-bottomright:7px;
  border-bottom-right-radius:7px;
  -webkit-border-bottom-left-radius:7px;
  -moz-border-radius-bottomleft:7px;
  border-bottom-left-radius:7px;
  border:1px solid #0c5799;
  width: 100%;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0f40a3), color-stop(1, #0076d1) );
  background:-moz-linear-gradient( center top, #0f40a3 5%, #0076d1 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f40a3', endColorstr='#0076d1');
  background-color:#0f40a3;
}

.button:active {
  position:relative;
  top:1px;
}
