@import 'foundation_and_overrides';

.area-map-container {
  width: 100%;
  position: relative;
  background-color: #ccc;
  margin-bottom: 1em;

  -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);
}

.area-section {
  header {
    margin-bottom: .5em;
  }
}

.zone-list {
  margin-top: .5em;
}

.area-map {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: #fff;
  font-size: .5em;

  .area-map-zone {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;

    -webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.75);

    position: absolute;
    background-color: #eee;
    cursor: pointer;

    .area-map-zone-info {
      color: #333;
      background-color: none;
      padding: 0;
      font-size: .7em;
      font-family: 'courier new';

      @media (min-width: 640px) {
        color: #fff;
        background-color: #222;
        padding: .3em;
        font-size: 1.2em;
      }
    }

    &:focus,
    &:hover {
      background-color: #fff;
      -webkit-box-shadow: 1px 1px 9px rgba(50, 50, 50, 1);
      -moz-box-shadow:    1px 1px 9px rgba(50, 50, 50, 1);
      box-shadow:         1px 1px 9px rgba(50, 50, 50, 1);
      z-index: 10;

      .area-map-zone-info {
        background-color: $primary-color;
        color: #fff;
      }

      .area-map-user {
        opacity: .3;
      }
    }
  }

  .area-map-user {
    $offset-user-translate: translate(-50%, -50%);
    -webkit-transform: $offset-user-translate;
    -moz-transform: $offset-user-translate;
    -ms-transform: $offset-user-translate;
    -o-transform: $offset-user-translate;
    transform: $offset-user-translate;

    pointer-events: none;
    position: absolute;
    height: 3em;
    width: 3em;

    .area-map-user-name {
      background-color: $primary-color;
      color: #fff;
      position: relative;
      min-width: 50px;
    }

    .area-map-user-checkin-time {
      color: #444;
      min-width: 100px;
    }
  }
}
