@import 'foundation_and_overrides';

.area-map-container {
  $map-container-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: $map-container-box-shadow;
  -moz-box-shadow: $map-container-box-shadow;
  box-shadow: $map-container-box-shadow;
  background-color: #ccc;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}

.area-section header {
  margin-bottom: .5em;
}

.zone-list {
  margin-top: .5em;
}

.area-map {
  color: #fff;
  font-size: .5em;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  .area-map-zone {
    $map-zone-transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out;
    -webkit-transition: $map-zone-transition;
    -moz-transition: $map-zone-transition;
    -o-transition: $map-zone-transition;
    transition: $map-zone-transition;

    $map-zone-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: $map-zone-box-shadow;
    -moz-box-shadow: $map-zone-box-shadow;
    box-shadow: $map-zone-box-shadow;

    background-color: #eee;
    cursor: pointer;
    position: absolute;

    .area-map-zone-info {
      $map-zone-info-transition: background-color 0.15s ease-out, color 0.15s ease-out;
      -webkit-transition: $map-zone-info-transition;
      -moz-transition: $map-zone-info-transition;
      -o-transition: $map-zone-info-transition;
      transition: $map-zone-info-transition;

      color: #333;
      background-color: none;
      font-family: 'courier new';
      font-size: .7em;
      padding: 0;

      @media (min-width: 640px) {
        color: #fff;
        background-color: #222;
        font-size: 1.2em;
        padding: .3em;
      }
    }

    &:hover {
      $map-zone-info-hover-box-shadow: 1px 1px 9px rgba(50, 50, 50, 1);
      -webkit-box-shadow: $map-zone-info-hover-box-shadow;
      -moz-box-shadow: $map-zone-info-hover-box-shadow;
      box-shadow: $map-zone-info-hover-box-shadow;
      background-color: #fff;
      z-index: 10;

      .area-map-zone-info {
        background-color: $primary-color;
        color: #fff;
      }

      .area-map-user {
        opacity: .3;
      }
    }
  }

  .area-map-user {
    $map-user-transition: opacity 0.15s ease-out;
    -webkit-transition: $map-user-transition;
    -moz-transition: $map-user-transition;
    -o-transition: $map-user-transition;
     transition: $map-user-transition;

    $offset-user-translate: translate(-50%, -50%);
    -webkit-transform: $offset-user-translate;
    -moz-transform: $offset-user-translate;
    -ms-transform: $offset-user-translate;
    -o-transform: $offset-user-translate;
    transform: $offset-user-translate;

    height: 3em;
    pointer-events: none;
    position: absolute;
    width: 3em;

    .area-map-user-name {
      background-color: $primary-color;
      color: #fff;
      position: relative;
      min-width: 50px;
    }

    .area-map-user-checkin-time {
      color: #444;
      min-width: 100px;
    }
  }
}
