$floorplan-aspect-ratio: 2.16;

.floorplan-container {
  width: 100%;
  padding-bottom: 100% / $floorplan-aspect-ratio;
  position: relative;
  background: blue;
}

.floorplan {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  color: white;
  font-size: 1em;
  text-align: center;

  .room {
    position: absolute;
    background-color: #f00;
  }
  .user {
    position: absolute;
    font-size: .5em;
    height: 6%;
    width: 3%;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .user-name {
      background-color: #000;
      color: #fff;
      position: relative;
      min-width: 50px;
    }
  }
}
