$floorplan-aspect-ratio: 2.16;

body {
  background-color: #eee;
}

.instructions {
  font-size: .7em;
  font-weight: bold;
  text-align: center;
  padding: .5em;
}

.floorplan-container {
  width: 100%;
  padding-bottom: 100% / $floorplan-aspect-ratio;
  position: relative;
  background-color: #eee;
  border: 1px solid #333;
  cursor: crosshair;
  margin-top: 0.2em;
}

.floorplan {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: #fff;
  font-size: .5em;

  .room {
    position: absolute;
    background-color: #aaa;
    border: 1px solid #000;

    .room-info {
      background-color: #000;
    }

    &:focus,
    &:hover {
      background-color: #fff;
      border: 1px solid #666;

      .room-info {
        background-color: #fff;
        color: #000;
      }
    }
  }

  .user {
    pointer-events: none;
    position: absolute;
    font-size: .5em;
    height: 6%;
    width: 3%;

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      position: relative;
    }

    .user-name {
      background-color: #8DDB07;
      color: #333;
      position: relative;
      min-width: 50px;
    }

    .checkin-time {
      color: #444;
      min-width: 100px;
    }
  }
}
