@import 'foundation_and_overrides';

.top-bar {
  -webkit-box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 4px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 4px rgba(50, 50, 50, 0.75);

  img {
    height: $topbar-height;
  }

  &.expanded .toggle-topbar a,
  .toggle-topbar a,
  .top-bar-section li a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;

    &:focus,
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
