@import 'foundation_and_overrides';

.top-bar {
  $nav-bar-box-shadow: 0px 1px 4px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: $nav-bar-box-shadow;
  -moz-box-shadow: $nav-bar-box-shadow;
  box-shadow: $nav-bar-box-shadow;

  img {
    height: $topbar-height;
  }

  &.expanded .toggle-topbar a,
  .toggle-topbar a,
  .top-bar-section li a {
    $top-bar-link-transition: all 0.2s ease-out;
    -webkit-transition: $top-bar-link-transition;
    -moz-transition: $top-bar-link-transition;
    -o-transition: $top-bar-link-transition;
     transition: $top-bar-link-transition;

    &:focus,
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
}
